<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    {% load static %}
    <link rel = "stylesheet" href = "{% static 'main-style.css'%}">
</head>

<body>
    <br>
    <h3 style="padding-left: 20px;">Name: Mufaddal Enayath</h3>
    <div class="full super-center-grid">
        <div class="super-center-grid main-layout default-shadow">

            <h1>HelloWorld</h1>
            <a href="./interval/index.html">Javascript setInterval</a>
            <a href="./button/index.html">Javascript button</a>
            <a href="./homework/index.html">Homework!</a>
        </div>
    </div>

</body>

</html>